<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="cells-monica-dashboard-styles.html">
<link rel="import" href="bower_components/iron-ajax/iron-ajax.html">
<dom-module id="cells-monica-dashboard">
  <script src="cells-monica-dashboard.js"></script>
</dom-module>